<div>
    <h2 id="page-heading">
        <span jhiTranslate="netstoreApp.shipment.home.title">Shipments</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-shipment" [routerLink]="['/shipment/new']">
            <fa-icon icon="plus"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="netstoreApp.shipment.home.createLabel">
            Create a new Shipment
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'netstoreApp.shipment.home.search' | translate }}">

                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon icon="search"></fa-icon>
                    </button>

                    <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon icon="trash-alt"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="alert alert-warning" id="no-result" *ngIf="shipments?.length === 0">
        <span jhiTranslate="netstoreApp.shipment.home.notFound">No shipments found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="shipments && shipments.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="netstoreApp.shipment.shipDate">Ship Date</span></th>
                    <th scope="col" ><span jhiTranslate="netstoreApp.shipment.estimatedArrivalDate">Estimated Arrival Date</span></th>
                    <th scope="col" ><span jhiTranslate="netstoreApp.shipment.deliveryStatus">Delivery Status</span></th>
                    <th scope="col" ><span jhiTranslate="netstoreApp.shipment.trackingNumber">Tracking Number</span></th>
                    <th scope="col" ><span jhiTranslate="netstoreApp.shipment.shippingCompany">Shipping Company</span></th>
                    <th scope="col" ><span jhiTranslate="netstoreApp.shipment.shipmentAddress">Shipment Address</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let shipment of shipments ;trackBy: trackId">
                    <td><a [routerLink]="['/shipment', shipment.id, 'view']">{{ shipment.id }}</a></td>
                    <td>{{ shipment.shipDate }}</td>
                    <td>{{ shipment.estimatedArrivalDate }}</td>
                    <td jhiTranslate="{{ 'netstoreApp.DeliveryStatus.' + shipment.deliveryStatus }}">{{ shipment.deliveryStatus }}</td>
                    <td>{{ shipment.trackingNumber }}</td>
                    <td>{{ shipment.shippingCompany }}</td>
                    <td>
                        <div *ngIf="shipment.shipmentAddress">
                            <a [routerLink]="['/location', shipment.shipmentAddress?.id, 'view']" >{{ shipment.shipmentAddress?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/shipment', shipment.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/shipment', shipment.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(shipment)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
