<div>
    <h2 id="page-heading">
        <span jhiTranslate="netstoreApp.bussinessUnit.home.title">Bussiness Units</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-bussiness-unit" [routerLink]="['/bussiness-unit/new']">
            <fa-icon icon="plus"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="netstoreApp.bussinessUnit.home.createLabel">
            Create a new Bussiness Unit
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'netstoreApp.bussinessUnit.home.search' | translate }}">

                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon icon="search"></fa-icon>
                    </button>

                    <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon icon="trash-alt"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="alert alert-warning" id="no-result" *ngIf="bussinessUnits?.length === 0">
        <span jhiTranslate="netstoreApp.bussinessUnit.home.notFound">No bussinessUnits found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="bussinessUnits && bussinessUnits.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="netstoreApp.bussinessUnit.name">Name</span></th>
                    <th scope="col" ><span jhiTranslate="netstoreApp.bussinessUnit.nit">Nit</span></th>
                    <th scope="col" ><span jhiTranslate="netstoreApp.bussinessUnit.brand">Brand</span></th>
                    <th scope="col" ><span jhiTranslate="netstoreApp.bussinessUnit.active">Active</span></th>
                    <th scope="col" ><span jhiTranslate="netstoreApp.bussinessUnit.bussiness">Bussiness</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let bussinessUnit of bussinessUnits ;trackBy: trackId">
                    <td><a [routerLink]="['/bussiness-unit', bussinessUnit.id, 'view']">{{ bussinessUnit.id }}</a></td>
                    <td>{{ bussinessUnit.name }}</td>
                    <td>{{ bussinessUnit.nit }}</td>
                    <td>{{ bussinessUnit.brand }}</td>
                    <td>{{ bussinessUnit.active }}</td>
                    <td>
                        <div *ngIf="bussinessUnit.bussiness">
                            <a [routerLink]="['/subscription-program', bussinessUnit.bussiness?.id, 'view']" >{{ bussinessUnit.bussiness?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/bussiness-unit', bussinessUnit.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/bussiness-unit', bussinessUnit.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(bussinessUnit)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
